.title {
    text-align: center;
  }

  body {
    font-family: 'Bebas Neue', sans-serif;
  }
  
  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .row {
    display: flex;
    justify-content: space-around;
  }
  
  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #fff; /* Keep the white background */
  }
  
  .row {
    display: flex;
    justify-content: space-around;
  }
  
  .product {
    flex: 0 1 calc(33.33% - 20px); /* This will make the products take up approximately 1/3 of the row, allowing for 3 products per row */
    margin: 10px;
    text-align: center;
  }

  .product-image {
    border: 2px solid #fff;
    border-radius: 15px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    background-color: #fff;
    transition: transform 0.5s; /* This will make the scaling effect take 0.5 seconds */
  }
  
  .product-image:hover {
    transform: scale(1.1); /* This will make the image 10% larger */
  }

  /* Star rating */
.fa {
  color: #ddd;
  font-size: 20px;
}

.checked {
  color: #f2b600;
}